@charset "Utf-8";


header{
    background-color: black;
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header>h1{
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2pxx 0px rgba(0, 0, 0, 267);
}






